main {
	min-height: 60vh;
}
.cart.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
	justify-content: space-between;
}

.cart.main, main.delivery {
	padding: 10px;
	max-width: 1024px;
	margin: 0 auto;
}

.nav.dot {
	background: var(--dark-grey-brown);
	color: var(--white);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	/*center text inside box*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav.title {
	margin-top: 6px;
	font-size: 12px;
}

.nav.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.5;
}

.nav.box.active {
	opacity: 1;
}

.nav.dash {
	width: 30px;
	height: 1px;
	background: var(--dark-grey-brown);
}

.cart.items {
	display: flex;
	flex-direction: column;
}

.cart.item {
	border: 2px solid var(--pale-grey-brown);
	background: #fafafa;
	border-radius: 14px;
	overflow: hidden;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 10px var(--pale-grey-brown);
}

.cart.book {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item.image {

}

.item.info {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.image.source {
	height: 100%;
	/*aspect-ratio: 1 / 1.5;*/
	border-radius: 0 0 10px 0;
}

.item.info > span {
	opacity: 60%;
}

.cart.price {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price.delivery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price.book {
	font-size: 28px;
}

.price.delivery > h4 {
	color: var(--pale-grey-brown);
}

.cart.main > section > h2 {
	margin: 20px 0;
}

.cart.end {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.cart.button {
	margin-top: 10px;
	width: 100%;
	border: none;
	background: var(--light-bluish-grey);
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 18px;
}

.delivery.form {
	padding: 20px;
}

.user.form {
	display: grid;
}

.form.label {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.form.span {
	font-weight: 600;
}

.form.input {
	border: 1px solid var(--light-bluish-grey);
	padding: 20px !important;
	font-size: 18px;
}

.form.select {
	padding: 10px;
	border-radius: 50px;
	background: #ffffff;
	font-size: 18px;
}

.shipment.radio {
	width: 28px;
	margin-right: 10px;
}

.shipment.label {
	display: flex;
	align-items: center;
	font-size: 18px;
	margin-top: 8px;
}

.shipment.value {
	padding: 0 10px;
}

.shipment.label > i {
	font-size: 40px;
}

.shipment.label > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.delivery.end {

}
.total {
	display: flex;
	flex-direction: column;
	justify-content: end;
}


.total.price {
	font-weight: 700;
	margin: 0;
	color: var(--dark-grey-brown)
}

.total.item {
	font-size: 18px;
	margin: 8px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	opacity: 0.6;
}
.total.item.result {
	opacity: 1;
}


@media (min-width: 900px) {
	.nav.dash {
		width: 150px;
	}

	.nav.box {
		flex-direction: row;
	}

	.nav.title {
		margin-left: 10px;
		margin-top: 0;
	}

	.cart.item {
		flex-direction: row;
		justify-content: space-between;
	}

	.cart.price {
		flex-direction: row;
		justify-content: space-between;
		width: 30%;
		padding: 0 20px
	}

	.cart.end {
		justify-content: end;

	}

	.cart.button {
		width: 200px
	}

	.form.label.full {
		grid-column-start: 1;
		grid-column-end: 3;

	}

	.delivery .full {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.delivery.end {
		display: flex;
		flex-direction: row;
		justify-content: end;
	}
}
