/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root {
    --white: #ffffff;
    --silver-coyote: #E6DCD3;
    --light-bluish-grey: #B4A79E;
    --pale-grey-brown: #BDA18C;
    --dark-grey-brown: #3F352C;
    --black: #000000;
} /* variables*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}
ul {
    list-style: none;
}

/* Search */
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input, .search-btn {
    border: none;
    outline: none;
    border-radius: 20px;
}

input {
    width: 100%;
    height: 32px;
    background: var(--white);
}

.search-btn {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #F15B42;
    cursor: pointer;
}

.search-btn:before {
    content: "\f105";
    font-family: FontAwesome;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.img-btn {
    width: 36px;
    padding-right: 10px;
}

/* Header flex */
header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-bluish-grey);
}

.desktop {
    background: var(--silver-coyote)
}

.desktop a {
    margin-inline: 30px;
}

header a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}


/* Nav menu */
.menu a{
    display: block;
    padding: 20px;
    color: var(--black);
    /* outline: 2px solid var(--light-bluish-grey); */

}

.flex-container {
    display: flex;
    flex-direction: row;
}
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 650px) {
    .flex-container {
      flex-direction: column;
    }
}

/* Nav menu Responsiveness */
@media (min-width: 768px) {
    nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }
}

/* Carousel */
.wrapper {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid var(--black); */
    border: 2px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    margin: 10px;
    padding: 20px 20px;
}

.card img {
    object-fit: fill;
    height: 300px;
}

.card__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card_link {
    margin-top: auto;
}

.card__content > button {
    position: relative;
    background: var(--light-bluish-grey);
    border: 0;
    color: var(--white);
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

@media(min-width: 1000px) {
    .wrapper {
        overflow: hidden;
        /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    }
}

/* Category Card */

.grid-category { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid-category > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: grid;
    align-items: right;
    justify-content: right;
}

.grid > article img {
    /* max-width: 100%; */
    width: 200px;
    align-items: center;
    justify-content: center;
}

.card-category {
    padding: 0 20px 20px;
}

.card-category > button {
    background: var(--light-bluish-grey);
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

/* Footer */
.footer {
    background-color: var(--black);
    color: var(--white);
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: auto;
}
  
.footer .content {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin: 1.5rem;
    padding: 1rem;
}

.about-footer{
    padding-right: 20px;
}
  
.footer .content p {
    margin-bottom: 1.3rem;
}
  
.footer .content a {
    text-decoration: none;
    color: var(--white);
}
  
.footer .content a:hover {
    border-bottom: 1px solid #971717;
}
  
.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}
  
footer {
    text-align: center;
    padding-bottom: 2rem;
}
  
footer hr {
    margin: 2rem 0;
}
  
@media (max-width: 900px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      gap: 10px;
      padding: 1rem;
    }
  
    .footer {
      position: unset;
    }
}